#title {
  color: #007f72;
  text-align: center;
  margin: 30px;
}

h3 {
  text-decoration: underline;
}

.illustration {
  width: 300px;
}

i {
  color: #007f72;
}

.main-focus {
  text-align: end;
  max-width: 1000px;
  margin: auto;
}

p {
  color: #007f72;
}

.job-title {
  color: #007f72;
}

#curriculum {
  max-width: 900px;
  margin: -200px auto;
}

/* This is the style for the curriculum component */
#curriculum h3 {
  color: black;
  margin: 20px 0;
}

#curriculum h4 {
  color: #007f72;
  text-align: justify;
  margin: 10px;
}
section p {
  font-size: 19px;
  padding: 20px;
  text-align: justify;
}

@media screen and (max-width: 640px) {
  .nav-container {
    flex-direction: row;
    align-items: baseline;
  }
  nav {
    height: 90px;
  }
  .logo {
    font-size: 15px;
    color: white;
    text-align: center;
    border: 3px solid white;
    margin: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .home-li {
    display: none;
  }

  nav ul li {
    line-height: 50px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .main-focus {
    text-align: center;
    margin: auto;
  }

  #curriculum {
    max-width: 900px;
    margin: auto;
  }
}

@media screen and (min-width: 1280px) {
}
