h1 {
  color: #9ce5da;
}

p {
  color: #9ce5da;
}

/* This is the style for the curriculum component */
#curriculum h3 {
  color: black;
  margin: 20px 0;
}

#curriculum h4 {
  color: #007f72;
  text-align: justify;
  margin: 10px;
}
