.contact-data {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  max-width: 900px;
  align-items: center;
}

/* Graphic Component - Contact Item */
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text i {
  color: #007f72;
}

.icon-text span {
  font-size: 30px;
  margin: 10px;
}

.icon-text span a {
  text-decoration: underline;
}

#external-sites {
  margin: 50px;
  text-align: center;
}

/* Graphic Component - Social Media */
.social-media i {
  color: #007f72;
}

.social-media i:hover {
  color: #9ce5da;
}

#external-sites .social-media + .social-media {
  margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .nav-container {
    flex-direction: row;
    align-items: baseline;
  }
  nav {
    height: 90px;
  }
  .logo {
    font-size: 15px;
    color: white;
    text-align: center;
    border: 3px solid white;
    margin: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .home-li {
    display: none;
  }

  nav ul li {
    line-height: 50px;
  }

  nav ul li a {
    font-size: 18px;
  }

  .contact-data {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /* Graphic component - Avatar */
  .avatar {
    margin: -30px 0 0;
  }
}

@media screen and (min-width: 1280px) {
}
