.contact-data {
  display: flex;
  justify-content: space-evenly;
  margin: 50px auto;
  max-width: 900px;
  align-items: center;
}

/* Graphic Component - Contact Item */
.icon-text {
  display: flex;
  align-items: center;
}

.icon-text i {
  color: #007f72;
}

.icon-text span {
  font-size: 30px;
  margin: 10px;
}

.icon-text span a {
  text-decoration: underline;
}

#external-sites {
  margin: 50px;
  text-align: center;
}

/* Graphic Component - Social Media */
.social-media i {
  color: #007f72;
}

.social-media i:hover {
  color: #9ce5da;
}

.social-media .hidden-text {
  display: none;
}

#external-sites .social-media + .social-media {
  margin-left: 10px;
}

@media screen and (max-width: 640px) {
  .contact-data {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  /* Graphic component - Avatar */
  .avatar {
    margin: -30px 0 0;
  }
}

@media screen and (min-width: 1280px) {
}
