/*  Style of all font in index.css*/

h2 {
  margin: 10px 0 0 0;
  font-size: 50px;
}

.wrapper-text {
  margin: 0 auto 0;
  padding: 0 20px;
  max-width: 740px;
  text-align: center;
}

.information {
  color: darkslategrey;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;
}

.avatar img {
  width: 250px;
  border: 6px solid #007f72;
  border-radius: 50%;
}

.avatar {
  margin: 40px 0 10px;
  text-align: center;
}

.about-me {
  padding-top: 40px;
  height: 400px;
  max-width: 100%;
  background-color: #007f72;
}

.me-title {
  text-align: center;
  color: white;
}

.me-content {
  max-width: 800px;
  margin: 40px auto;
  color: white;
  font-size: 20px;
}

.banner {
  width: 300px;
  border-radius: 50px;
}
.image-wrapper {
  text-align: center;
}

.skills {
  background-color: white;
  width: 900px;
  margin: 0 auto;
  height: 500px;
  margin-top: -100px;
  border-radius: 10px;
  display: flex;
  border: 3px solid #007f72;
}

.skill-column {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.skill-column + .skill-column {
  border-left: 3px solid #007f72;
}

ul li {
  list-style: none;
  font-size: 20px;
}

.skill-column > * {
  margin: 10px;
}

.title-type {
  color: black;
  font-size: 30px;
  text-decoration: underline;
}
.title-text {
  color: black;
  font-size: 20px;
}

.subtitle-skills {
  font-size: 20px;
  margin: 10px 10px 0;
  color: #007f72;
}

.skill-column i {
  margin: 40px;
  color: #007f72;
}

@media screen and (max-width: 640px) {
  .nav-container {
    flex-direction: row;
    align-items: baseline;
  }
  nav {
    height: 90px;
  }
  .logo {
    font-size: 15px;
    color: white;
    text-align: center;
    border: 3px solid white;
    margin: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .home-li {
    display: none;
  }

  nav ul li {
    line-height: 50px;
  }

  nav ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
}
