/*  Style of all font in index.css*/

h2{
 margin: 40px 0 0 0;
 font-size: 50px;
 
}

.wrapper-text{
    margin: 0 auto 0; 
    padding: 0 20px;
    max-width: 740px;
    text-align: center;  
}

.information{
    color: darkslategrey;    
    font-size: 28px;
    text-align: center;
}
