.main-focus {
  text-align: end;
  max-width: 900px;
  margin: auto;
}

#curriculum h3 {
  text-decoration: underline;
}

.illustration {
  width: 300px;
}

i {
  color: #007f72;
  margin: 10px;
}

.job-listing p {
  color: #5b5c5d;
}

.job-title {
  color: #23857a;
  font-size: 22px;
}
.workplace {
  color: #3dc08d;
  font-size: 25px;
}
.country {
  color: #23857a;
  font-size: 22px;
}
.period {
  color: darkgray;
  font-size: 15px;
}

hr {
  margin: 10px;
}

#curriculum {
  max-width: 900px;
  margin: -200px auto;
}

/* This is the style for the curriculum component */
#curriculum h3 {
  color: black;
  margin: 20px 0;
}

#curriculum h4 {
  color: #007f72;
  text-align: justify;
  margin: 10px;
}
section p {
  font-size: 19px;
  padding: 20px 0;
  text-align: justify;
}

.cv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

a :hover {
  color: #9ce5da;
}

@media screen and (max-width: 640px) {
  .main-focus {
    text-align: center;
    margin: auto;
  }

  #curriculum {
    max-width: 900px;
    margin: 0 15px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  #curriculum {
    max-width: 900px;
    margin: -200px auto;
    padding: 20px;
  }
}
