.resume .main-focus {
  text-align: end;
  max-width: 900px;
  margin: auto;
}

.illustration {
  width: 300px;
}

#curriculum {
  max-width: 900px;
  margin: -200px auto 0;
}

#curriculum h2 {
  text-decoration: underline;
  color: black;
  margin: 20px 0;
}

/* Text Component - Job List  */
.job-listing .job-title {
  color: #007f72;
  font-size: 22px;
}
.job-listing .workplace {
  color: #1e5a43;
  font-size: 25px;
}
.job-listing .country {
  color: #007f72;
  font-size: 22px;
}
.job-listing .period {
  color: #5b5c5d;
  font-size: 15px;
}
.job-listing p {
  font-size: 19px;
  padding: 20px 0;
  text-align: justify;
  color: #5b5c5d;
}

hr {
  margin: 10px 0;
}

.cv {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 30px;
  font-size: 20px;
}

.cv i {
  color: #007f72;
  margin: 10px;
  display: block;
}

.cv a :hover {
  color: #9ce5da;
}

@media screen and (max-width: 640px) {
  .resume .main-focus {
    text-align: center;
    margin: auto;
  }

  #curriculum {
    max-width: 900px;
    margin: 0 15px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1280px) {
  #curriculum {
    padding: 0 20px 0;
  }
}
