* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
  font-family: "Nunito", sans-serif;
  font-size: 28px;
}

body {
  height: 100vh;
  background-color: #f8f9fa;
}

/* Text Component - Nav */
nav {
  width: 100%;
  height: 100px;
  background-color: #007f72;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  list-style: none;
  display: inline-block;
  line-height: 100px;
}

nav ul li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  color: snow;
  padding: 0 10px;
}

nav ul li a:hover {
  color: #9ce5da;
}

/* Text component - Title */
#title {
  color: #007f72;
  text-align: center;
  margin: 30px 0 30px;
}

/* Graphic component - Avatar */
.avatar {
  margin: 10px 0 10px;
  text-align: center;
}

.avatar img {
  width: 300px;
}

.logo {
  font-size: 20px;
  color: white;
  text-align: center;
  border: 3px solid white;
  margin: 20px;
  width: 60px;
  height: 60px;
  line-height: 54px;
}

.logo:hover {
  color: #9ce5da;
}

a {
  text-decoration: none;
}

footer {
  margin: 50px 0 0;
  padding: 30px;
  color: #007f72;
  text-align: center;
  font-size: 15px;
}

@media screen and (max-width: 640px) {
  .nav-container {
    flex-direction: row;
    align-items: baseline;
  }
  nav {
    height: 90px;
  }
  .logo {
    font-size: 15px;
    color: white;
    text-align: center;
    border: 3px solid white;
    margin: 20px;
    width: 50px;
    height: 50px;
    line-height: 45px;
  }

  nav ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .home-li {
    display: none;
  }

  nav ul li {
    line-height: 50px;
  }

  nav ul li a {
    font-size: 18px;
  }
}

@media screen and (min-width: 1280px) {
}
