@use './partials/palette';
@use './partials/devices';

@mixin flex {
  display: flex;
  flex-direction: column;
}

.wrapper-text {
  margin: 0 auto 0;
  padding: 0 20px;
  max-width: 740px;
  text-align: center;

  & h2 {
    margin: 10px 0 0 0;
    font-size: 50px;
  }
}

.information {
  color: darkslategrey;
  font-size: 28px;
  text-align: center;
  margin-bottom: 30px;

  @include devices.phone {
    font-size: 18px;
  }
}

.intro-to-site .image-wrapper {
  text-align: center;
}

.image-wrapper .banner {
  width: 300px;
  border-radius: 50px;
}

.about-me {
  padding-top: 40px;
  height: 400px;
  max-width: 100%;
  background-color: palette.$primary-color;
}

.me-title {
  text-align: center;
  color: palette.$secondary-color;
}

.me-content {
  max-width: 800px;
  margin: 40px auto;
  color: palette.$secondary-color;
  font-size: 20px;
  text-align: center;

  @include devices.phone {
    margin: 20px;
    font-size: 18px;
  }

  @include devices.tablet-laptop {
    padding: 0 20px 0;
  }
}

.traits {
  background-color: palette.$secondary-color;
  max-width: 900px;
  margin: 0 auto;
  height: 500px;
  margin-top: -100px;
  border-radius: 10px;
  display: flex;
  border: 3px solid palette.$primary-color;

  & ul li {
    list-style: none;
    font-size: 20px;
  }

  @include devices.phone {
    @include flex;
    height: auto;
    width: auto;
    max-width: 335px;
  }
}

.trait-column {
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
  @include flex;

  & i {
    margin: 40px;
    color: palette.$primary-color;
  }

  &-title {
    color: palette.$tertiary-color;
    font-size: 30px;
    text-decoration: underline;
  }

  & + .trait-column {
    border-left: 3px solid palette.$primary-color;

    @include devices.phone {
      border-left: 0 solid palette.$primary-color;
      border-top: 3px solid palette.$primary-color;
    }
  }

  & > * {
    margin: 10px;
  }
}

.trait-subtitle {
  color: palette.$tertiary-color;
  font-size: 20px;
}

.trait-list-title {
  font-size: 20px;
  margin: 10px 10px 0;
  color: palette.$primary-color;
}

.intro-to-site h2 {
  @include devices.phone {
    font-size: 30px;
  }
}

.avatar img {
  @include devices.phone {
    width: 300px;
  }
}

.banner {
  @include devices.phone {
    margin: 20px;
  }
}
